#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end##

import java.io.IOException;

import org.junit.runner.RunWith;
import org.junit.BeforeClass;

import io.cucumber.junit.CucumberOptions;
import net.serenitybdd.cucumber.CucumberWithSerenity;

@RunWith(CucumberWithSerenity.class)
@CucumberOptions(
features = {"$featureFile"},
plugin = #stringArray($plugins),
monochrome = $monochrome,
#if(!$featureFile.contains(".feature:") && $mytags)
tags = #stringArray($mytags),
#end
glue = #stringArray($glue))
public class $className {
}