.idea/
*.iml
**/target
idp-testsuite/test-output/
test-output/
/doc/*.svg
/idp-testsuite/logs/
/idp-testsuite/testartefacts/20*
/idp-operations/dependency-reduced-pom.xml
idp-testsuite/test-reports/
*.run.xml

build.sh
docker-compose.deploy.yml
docker-compose_idpSektoral.deploy.yml
docker-compose_idpFedMaster.deploy.yml
docker-compose_idpFachdienst.deploy.yml
Dockerfile
DockerfileMySql
Jenkinsfile
Jenkinsfile_InternalRelease
Jenkinsfile_DeployGitlab
ref-localhost.sh
ref-springboot.sh
rise-ru.sh
rise-tu.sh
rise-tu-ti.sh
doc/rise/idp-rest-api-4.0-RC1.openapi.json
idp-server/README.md
idp-server/pom-docu.xml
idp-server/buildDockerImage.sh
idp-server/deleteDockerImage.sh
idp-server/Dockerfile
idp-server/settings.xml
idp-testsuite/Jenkinsfile
idp-testsuite/doc/IDPSrv-Produktzerlegung.mm
idp-testsuite/doc/IDPSrv-Produktzerlegung.pdf
idp-testsuite/docker-compose.integration.yml
idp-testsuite/test-reports/serenity-internet.7z
idp-testsuite/test-reports/serenity-ti.7z

