.idea/
*.iml
**/target
idp-testsuite/test-output/
test-output/
/doc/*.svg
/idp-testsuite/logs/
/idp-testsuite/testartefacts/20*
/idp-operations/dependency-reduced-pom.xml
idp-testsuite/test-reports/
*.run.xml
idp-testsuite/tiger.yaml
idp-fachdienst/src/frontend/authweb2app/public/index.html
idp-fachdienst/src/frontend/authweb2app/public/favicon.ico
idp-fachdienst/src/frontend/authweb2app/package-lock.json
idp-fedmaster/logs/
idp-sektoral/logs/
logs/
idp-fachdienst/src/frontend/node/
idp-fachdienst/src/frontend/authweb2app/node/node.exe
idp-fachdienst/src/frontend/package-lock.json
idp-fachdienst/src/frontend/authweb2app/node/

IDP Code Style.xml
doc/intern/
idp-fachdienst/src/
idp-fachdienst/doc/
idp-fedmaster/src/
idp-sektoral/src/
build.sh
docker-compose-all.yml
docker-compose.deploy.yml
docker-compose-deployLTU_DEV.yml
docker-compose-ref.yml
idp-server/Dockerfile
DockerfileMySql
CI.Jenkinsfile
InternalRelease.Jenkinsfile
DeployGitlab.Jenkinsfile
DeployGitHub.Jenkinsfile
ltu_dev.Jenkinsfile
ref-localhost.sh
ref-springboot.sh
rise-ru.sh
rise-tu.sh
rise-tu-ti.sh
doc/pcap/web2app-flow-final.pcapng
idp-server/pom-docu.xml
idp-server/buildDockerImage.sh
idp-server/deleteDockerImage.sh
idp-server/Dockerfile
idp-server/settings.xml
idp-testsuite/Jenkinsfile
idp-testsuite/doc/IDPSrv-Produktzerlegung.mm
idp-testsuite/doc/IDPSrv-Produktzerlegung.pdf
idp-testsuite/docker-compose.integration.yml
idp-testsuite/test-reports/serenity-internet.7z
idp-testsuite/test-reports/serenity-ti.7z
idp-fachdienst/README_PoC.md
idp-fachdienst/doc/poc/*

