idp:
  version: @project.version@
  idpSig:
    fileName: classpath:idp_sig.p12
    keyId: puk_idp_sig
    use: sig
  idpEnc:
    fileName: classpath:idp_enc.p12
    keyId: puk_idp_enc
    use: enc
  discSig:
    fileName: classpath:disc_sig.p12
    keyId: puk_disc_sig
  symmetricEncryptionKey: "geheimerSchluesselDerNochGehashtWird"
  defaultLocale: US
  debug:
    requestLogging: true
  subjectSaltValue: fkdlsjaviaen4evdsnavaew4vcxo
  blockedClientSystems:
    - "blocked_user_agent"
  userConsent:
    descriptionTexts:
      claims:
        GIVEN_NAME: "Zustimmung zur Verarbeitung des Vornamens"
        PROFESSION_OID: "Zustimmung zur Verarbeitung der Rolle"
        ORGANIZATION_NAME: "Zustimmung zur Verarbeitung der Organisationszugehörigkeit"
        FAMILY_NAME: "Zustimmung zur Verarbeitung des Nachnamens"
        ID_NUMBER: "Zustimmung zur Verarbeitung der Id (z.B. Krankenversichertennummer, Telematik-Id)"
  productTypeDisplayString: "IDP"
  scopesConfiguration:
    openid:
      description: "Zugriff auf den ID-Token."
    e-rezept:
      description: "Zugriff auf die E-Rezept-Funktionalität."
      audienceUrl: "https://erp-test.zentral.erp.splitdns.ti-dienste.de/"
      claimsToBeIncluded: [ GIVEN_NAME, FAMILY_NAME, ORGANIZATION_NAME, PROFESSION_OID, ID_NUMBER ]
    pairing:
      description: "Zugriff auf die Daten für die biometrischer Authentisierung."
      audienceUrl: "https://idp-pairing-test.zentral.idp.splitdns.ti-dienste.de"
      claimsToBeIncluded: [ ID_NUMBER ]
    authenticator-dev:
      description: "Zugriff auf Mock-RP für Authenticator Entwicklung"
      audienceUrl: "https://authenticator-dev.ti-dienste.de"
      claimsToBeIncluded: [ GIVEN_NAME, FAMILY_NAME, ORGANIZATION_NAME, PROFESSION_OID, ID_NUMBER ]
    scope-template:
      description: "123 Test"
      audienceUrl: "https://template.audience.de"
      claimsToBeIncluded: [ ORGANIZATION_NAME, PROFESSION_OID, ID_NUMBER ]
  registeredClient:
    eRezeptApp:
      redirectUri: http://redirect.gematik.de/erezept
      returnSsoToken: true
    gematikTestPs:
      redirectUri: http://test-ps.gematik.de/erezept
      returnSsoToken: false
    AuthenticatorDevLocal:
      redirectUri: http://localhost:3500/callback
      returnSsoToken: true
    AuthenticatorDevRemote:
      redirectUri: http://hidden/callback
      returnSsoToken: true
    GematikNotificationGateway:
      redirectUri: http://localhost:9042/notification-gateway/callback
      returnSsoToken: true
  errors:
    genericErrorMap:
      client_id:
        detailMessage: "client_id wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 1002
      redirect_uri:
        detailMessage: "redirect_uri wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 1004
      scope:
        detailMessage: "scope wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 1005
        httpStatusCode: 302
      state:
        detailMessage: "state wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2002
        httpStatusCode: 302
      response_type:
        detailMessage: "response_type wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2004
        httpStatusCode: 302
      code_challenge_method:
        detailMessage: "code_challenge_method wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2008
        httpStatusCode: 302
      code_challenge:
        detailMessage: "code_challenge wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2009
        httpStatusCode: 302
      key_verifier:
        detailMessage: "key_verifier wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 3004
      code:
        detailMessage: "Authorization Code wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 3005
      grant_type:
        detailMessage: "grant_type wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 3006
    errorCodeMap:
      1002:
        detailMessage: "client_id wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 1002
      1004:
        detailMessage: "redirect_uri wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 1004
      1020:
        detailMessage: "redirect_uri ist ungültig"
        error: INVALID_REQUEST
        code: 1020
      1500:
        detailMessage: "Allgemeiner Serverfehler"
        error: INVALID_REQUEST
        code: 1500
        httpStatusCode: 500
      2002:
        detailMessage: "state wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2002
        httpStatusCode: 302
      2004:
        detailMessage: "response_type wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2004
        httpStatusCode: 302
      2005:
        detailMessage: "response_type wird nicht unterstützt"
        error: UNSUPPORTED_RESPONSE_TYPE
        code: 2005
        httpStatusCode: 302
      2006:
        detailMessage: "state ist ungültig"
        error: INVALID_REQUEST
        code: 2006
        httpStatusCode: 302
      2007:
        detailMessage: "nonce ist ungültig"
        error: INVALID_REQUEST
        code: 2007
        httpStatusCode: 302
      2008:
        detailMessage: "code_challenge_method ist ungültig"
        error: INVALID_REQUEST
        code: 2008
        httpStatusCode: 302
      2009:
        detailMessage: "code_challenge wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 2009
        httpStatusCode: 302
      2010:
        detailMessage: "code_challenge ist ungültig"
        error: INVALID_REQUEST
        code: 2010
        httpStatusCode: 302
      2012:
        detailMessage: "client_id ist ungültig"
        error: INVALID_REQUEST
        code: 2012
      2013:
        detailMessage: "Der Request besitzt keine gültige Signatur"
        error: INVALID_REQUEST
        code: 2013
      2020:
        detailMessage: "Das AUT Zertifikat ist ungültig"
        error: INVALID_REQUEST
        code: 2020
      2030:
        detailMessage: "Challenge ist ungültig"
        error: INVALID_REQUEST
        code: 2030
      2032:
        detailMessage: "Challenge ist abgelaufen"
        error: INVALID_REQUEST
        code: 2032
      2040:
        detailMessage: "SSO_TOKEN nicht valide, bitte um neuerliche Authentisierung"
        error: ACCESS_DENIED
        code: 2040
      3006:
        detailMessage: "grant_type wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 3006
      3007:
        detailMessage: "client_id ist ungültig"
        error: INVALID_CLIENT
        code: 3007
      3014:
        detailMessage: "grant_type wird nicht unterstützt"
        error: UNSUPPORTED_GRANT_TYPE
        code: 3014
      4000:
        detailMessage: "Der Auftrag zur Deaktivierung des Pairings konnte nicht angenommen werden."
        error: INVALID_REQUEST
        code: 4000
      4001:
        detailMessage: "key_identifier wurde nicht übermittelt"
        error: INVALID_REQUEST
        code: 4001
    joseExceptionMap:
      ChallengeSignatureInvalidException:
        detailMessage: "Der Request besitzt keine gültige Signatur"
        error: INVALID_REQUEST
        code: 2013
      NoNestedJwtFoundException:
        detailMessage: "Challenge ist ungültig"
        error: INVALID_REQUEST
        code: 2030
      ChallengeExpiredException:
        detailMessage: "Challenge ist abgelaufen"
        error: INVALID_REQUEST
        code: 2032

caching:
  discoveryDocument:
    cacheControl: "max-age=300"
server:
  port: ${SERVER_PORT:8080}
management:
  server:
    port: ${MANAGEMENT_PORT:8180}
  endpoints:
    web:
      exposure:
        include: "health"
    enabled-by-default: false
  endpoint:
    health:
      enabled: true
    metrics:
      enabled: true
    logfile:
      enabled: true
spring:
  datasource:
    url: "jdbc:h2:mem:idp;INIT=CREATE SCHEMA IF NOT EXISTS IDP;"
    driver-class-name: org.h2.Driver
    username: root
    password: idp
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
